.content-upload-container {
  width: 95%;
  background-color: rgb(218, 238, 184);
  height: 20vh;
  margin: auto;
  margin-top: 16px;
  border-radius: 15px;
}
.content-text {
  width: 40pc;
  margin-left: 35px;
  margin-top: 10px;
  height: 5vh;
  padding: 7px;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 15px;
  border-bottom: 1px solid rgb(203, 198, 198);
}
.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 40px;
  margin-top: 10px;
}
.message {
  display: flex;
  align-items: center;
  padding: 10px;
}
.icons-p {
  width: 40px;
  height: 40px;
  color: rgb(43, 59, 232);
  margin-left: 30px;
  margin-top: 30px;
  transition: 0.5s ease-in-out;
}
.icons-p:hover {
  cursor: pointer;
  color: rgb(105, 179, 240);
}
.icons-p-container {
  display: flex;
}
.bottom {
  display: flex;
  align-items: center;
}
.share-btn {
  margin-left: 520px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  border: none;
  width: 8pc;
  font-size: 15px;
  background-color: white;
  border: 1px solid rgb(43, 59, 232);
  color: rgb(43, 59, 232);
  transition: 0.5s ease-in-out;
}
.share-btn:hover {
  background-color: rgb(43, 59, 232);
  color: white;
  cursor: pointer;
}
